* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

#grid {
    height: 400px;
    width: 400px;
    background: white;
    border: 1px solid black;
}

.row {
    display: flex;
}

.square {
    background: black;
    opacity: 0;
}

button {
    padding: 5px;
}